<h1>Bienvenue sur Video Center !</h1>

<p>Bonjour {# {{ users.firstname }} #},</p>

<p>Pour finaliser votre inscription, veuillez cliquer sur le lien ci-dessous :</p>

<p><a href="{{ signedUrl }}">Confirmer mon adresse e-mail</a></p>

<p>Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>

<p>Merci et à bientôt sur <strong>Video Center</strong> !</p>
